
.headerImage{
  position: absolute;
  width: 100%;
  height: 24em;
  opacity: 0.4;
  float:left;

}

.fa fa-diamond fa-2x{
    padding-left:

}

.logo{
  margin: 0px;
  padding-left: 10%;
  padding-top: 1%;


}
.aboutSearch{
  padding-top: 1%;
  float: right;
  margin-right: 10%;
}

.title{
  float: none;
  padding-left: 24%;
  display: block;
  padding-top: 8%;
  font-family: 'Lucida Bright', Georgia, serif;
  font-size: 4em;
  font-weight: bold;
}

.subTitle{
  font-size: 0.8em;
  font-family: 'Lucida Bright', Georgia, serif;
  padding-left: 43%;
}

.articleTitle{
  position: absolute;
  margin-top: 14%;
  margin-left: 10%;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 3em;

}

.userPicture{
  border-radius: 50%;
  width: 3%;
  float: left;
  margin-top: 23%;
  margin-left: 11%;

}

.userPicture:hover{
  background-color:blue;
  opacity:0.5;
}

.name{
  font-size: 0.5em;
  color: #448AC0;
  padding-top: 23.5%;
  float: left;
  padding-left: 1%
}

.firstWord{
  font-size: 0.5em;
  color: #BBC6CF;
  padding-top: 23.5%;
  float: left;
  padding-left: 1%;
}

.timeDate{
  font-size: 0.5em;
  color: #BBC6CF;
  text-decoration:underline;
  padding-top: 23.5%;
  float: left;
  padding-left: 0.3%;
}

.mainText{
  width: 41%;
  float: left;
  margin-top: 26%;
  margin-left: -18%;

}

.grayShark{
  color: #BBC6CF;
  text-decoration:underline;

}
.exitingText{
  font-size: 1.2em;
  color: #0058A8;
  border-left: 1px solid #BDC1C3;
  padding-left: 2%;
/*END OF ARTICLE TEXT*/
}
/* START OF MEDIA BOXEES BELOW ARTICLE */
.mediaBoxes{
  float: left;
  margin-top: 49em;
  width: 14%;
  margin-left: -32em;

}

.icons1{
  margin-left: -9.2em;
  color:white;
}

.outerBox1{
  background-color: #5E686F;
  width: 1.2em;
  height: 1.1em;
  float: left;

}

.sideBox1{
  background-color: #A3B3BF;
  float:left;
  height: 1.1em;
  width: 8.1em;
}


.textComment{
  float: left;
  color: white;
  margin-left: -7.9em;
}

.mediaBoxes2{
  float: left;
  margin-top: 49em;
  width: 14%;
  margin-left: -21em;
}

.outerBox2{
  background-color: #5E686F;
  width: 1.2em;
  height: 1.1em;
  float: left;
}
.icons2{
  margin-left: -9.2em;
  color:white;
}
.sideBox2{
  background-color: #A3B3BF;
  float:left;
  height: 1.1em;
  width: 8.1em;

}

.readLater{
  float: left;
  color: white;
  margin-left: -7.5em;
}

.mediaBoxes3{
  float: left;
  margin-top: 49em;
  width: 14%;
  margin-left: -10em;
}

.outerBox3{
  background-color: #083452;
  width: 1.2em;
  height: 1.1em;
  float: left;
}
.icons3{
  margin-left: -9.0em;
  color:white;
}
.sideBox3{
  background-color: #106DB3;
  float:left;
  height: 1.1em;
  width: 8.1em;

}

.shareThis{
  float: left;
  color: white;
  margin-left: -7.5em;
}
/* END OF ARTICLE SECTION */
/* START OF THE ASIDE BOX */
.userPicture2{
  border-radius: 50%;
  width: 8%;
  float: right;
  margin-right: 17em;
  margin-top: 230px;

}

.name2{
  color: #448AC0;
  margin-top: 22em;
  float: right;
  margin-right: -5.9em;
  margin-bottom: 0em;
}

.mediaWords{
  color: #BBC6CF;
  margin-top: 34em;
  float: right;
  margin-right: -10.7em;
  word-spacing: 0.5em;
  font-size: 0.7em;
}

.advertisement{
  margin-top: 1em;
  float: right;
  margin-right: 12em;
}
.advertisement:hover{
  background-color:blue;
  color:blue;
  opacity:0.5;
}
.add{
  font-size: 0.7em;
  color: #BBC6CF;
  float: right;
  margin-top: 19em;
  margin-right: -23em;
}

.add:hover{
  color:blue;
  opacity:0.5;
}
/* BELOW CONTAINED IN sideBar */
.sideBar{
  float:right;
  width: 21%;
  margin-top: 15em;
  margin-right: -16.5em;
}

.sideTitle{
  color: #0A69B0;
  font-size: 1.4em;
  padding-right: 139px;

}

.sideBody{
  color: #A2B2BE;
  font-size: 1em;
}
/* START OF THE FOOTER */
.importantThings{
  float: left;
  margin-top: 1em;
  width: 100%;
  height: 6em;
  border-top: 0.1em solid #E5EAED;

}

.importantThings span{
  color: #083452;
  font-size: 2em;
  float: left;
  margin-left: 16.5em;
  margin-top: 1em;
}
/*PICTURE BLOCK AT THE BOTTOM */
.articles{
  float:left;
  width:100%;
}

.tJOne{
  width: 24.7%;
  float: left;
  height: 17.5em;
  border:0.1em solid black;
}

.tJOne:hover{
  background-color:blue;
  color:blue;
  opacity:0.5;
}

.tJTwo{
  width: 24.7%;
  float: left;
  height: 17.5em;
  border:0.1em solid black;
}
.tJTwo:hover{
  background-color:blue;
  color:blue;
  opacity:0.5;
}
.tJThree{
  width: 24.7%;
  float: left;
  height: 17.5em;
  border:0.1em solid black;
}
.tJThree:hover{
  background-color:blue;
  color:blue;
  opacity:0.5;
}
.tJFour{
  width: 25.2%;
  float: left;
  height: 17.5em;
  border:0.1em solid black;
}
.tJFour:hover{
  background-color:blue;
  color:blue;
  opacity:0.5;
}
.bottomBox{
  width: 100%;
  float: left;
  background-color: rgba(8, 52, 82, 0.86);
  height: 5em;
}

.ironRights{

  width: 20em;
  height: 2em;
  float: left;
  margin-left: 8em;
  margin-top: 1.5em;
}
.ironRights img{
  width: 12%;
  float: left;
}

.ironRights span{
  color: white;
  font-size: 0.5em;
  float: left;
  margin-left: 2em;
  margin-top: 1.4em;

}

.ironNav{
  width: 20em;
  height: 2em;
  float: right;
  margin-right: 8em;
  margin-top: 1.5em;
}

.ironNav ul{
  margin-left: 8.5em;
  margin-top: 0.3em;
}

.ironNav li{
  font-size:0.5em;
  color:white;
  display:inline;
  margin-left:0.3em;
}

.ironNav .bar{
  color:gray;
  margin-right: 0.3em;

}

@media (max-width: 800px) {
.headerImage{
  position: absolute;
  width: 100%;
  height: 23em;
  opacity: 0.4;
  float:left;
}
.title {
  float: none;
  padding-left: 23%;
  display: block;
  padding-top: 14%;
  font-family: 'Lucida Bright', Georgia, serif;
  font-size: 3em;
  font-weight: bold;
  }
.subTitle {
  font-size: 0.8em;
  font-family: 'Lucida Bright', Georgia, serif;
  padding-left: 38%;
}
.articleTitle {
  position: absolute;
  margin-top: 12%;
  margin-left: 19%;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 3em;
}
.userPicture {
  border-radius: 50%;
  width: 3%;
  float: left;
  margin-top: 24%;
  margin-left: 20%;
}
.mainText {
  width: 63%;
  float: left;
  margin-top: 26%;
  margin-left: -25%;
}
.mediaBoxes {
  float: left;
  margin-top: 41em;
  width: 23%;
  margin-left: -30em;
}
.mediaBoxes2 {
  float: left;
  margin-top: 41em;
  width: 23%;
  margin-left: -20em;
}
.mediaBoxes3 {
  float: left;
  margin-top: 41em;
  width: 22%;
  margin-left: -10em;
}

.userPicture2{
  display:none;
}
.name2{
  display:none;
}
.mediaWords {
  color: #BBC6CF;
  margin-top: 17em;
  float: left;
  word-spacing: 0.5em;
  font-size: 0.7em;
  margin-left: -26em;
}
.advertisement {
  margin-top: 1em;
  float: left;
  margin-left: 9.5em;
}
.add {
  font-size: 0.7em;
  color: #BBC6CF;
  float: left;
  margin-top: 19em;
  margin-left: -24em;
}
.sideBar {
  float: right;
  width: 28%;
  margin-top: -12.5em;
  margin-right: 8em;
}
.importantThings span {
  color: #083452;
  font-size: 1.5em;
  float: left;
  margin-left: 12.5em;
  margin-top: 1em;
}
.tJFour {
  width: 24.2%;
  float: left;
  height: 17.5em;
  border: 0.1em solid black;
}
.ironNav {
  width: 20em;
  height: 2em;
  float: right;
  margin-right: 8em;
  margin-top: -1.8em;
}
}
@media (max-width: 400){
  .logo {
  margin: 0px;
  padding-left: 18%;
  padding-top: 1%;
}
.aboutSearch {
  padding-top: 1%;
  float: right;
  margin-right: 27%;
}
.title {
  padding-left: 10%;
  display: block;
  padding-top: 37%;
  font-family: 'Lucida Bright', Georgia, serif;
  font-size: 1.8em;
  font-weight: bold;
}

.subTitle {
  font-size: 0.5em;
  font-family: 'Lucida Bright', Georgia, serif;
  padding-left: 28%;
}



}
