
.headerImage{
  position: absolute;
  width: 99%;
  height: 400px;
  margin-left:0.5%;
  opacity: 0.4;

}

.fa fa-diamond fa-2x{
    padding-left:

}

.logo{
  width: 260px;
  margin:0px;
  padding-left: 120px;
  padding-top: 15px;


}
.aboutSearch{
  padding-top: 13px;
  float: right;
  margin-right: 120px;
}

.title{
  float: none;
  padding-left: 380px;
  display: block;
  padding-top: 130px;
  font-family: 'Lucida Bright', Georgia, serif;
  font-size:50px;
  font-weight: bold;
}

.subTitle{
  font-size: 10px;
  font-family: 'Lucida Bright', Georgia, serif;
  padding-left: 550px;
}

.articleTitle{
  position:absolute;
  margin-top: 190px;
  margin-left: 110px;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 40px;
}

.userPicture{
  border-radius: 50%;
  width: 3%;
  float: left;
  margin-top: 280px;
  margin-left: 110px
}

.name{
  font-size: 10px;
  color: #448AC0;
  padding-top: 285px;
  float: left;
  padding-left: 5px;
}

.firstWord{
  font-size: 10px;
  color: #BBC6CF;
  padding-top: 285px;
  float: left;
  padding-left: 5px;
}

.timeDate{
  font-size: 10px;
  color: #BBC6CF;
  text-decoration:underline;
  padding-left: 30px;
  padding-top: 285px;
  float: left;
  padding-left: 5px;
}

.userPicture2{
border-radius: 50%;
width: 8%;
float: right;
margin-right: 372px;
margin-top: 230px;

}

.mainText{
  height: 500px;
  width: 487px;
  float: left;
  margin-top: 330px;
  margin-left: -228px;

}

.grayShark{
  color: #BBC6CF;
  text-decoration:underline;

}
.exitingText{
  font-size: 18px;
  color: #0058A8;
  border-left: 1px solid #BDC1C3;
  padding-left: 10px;

}
/* START OF MEDIA BOXEES BELOW ARTICLE */
.mediaBoxes{
  float: left;
  margin-top: 51em;
  width: 14%;
  margin-left: -30.5em;
}

.icons1{
  margin-left: -9.2em;
  color:white;
}

.outerBox1{
  background-color: #5E686F;
  width: 1.2em;
  height: 1.1em;
  float: left;

}

.sideBox1{
  background-color: #A3B3BF;
  float:left;
  height: 1.1em;
  width: 8.1em;
}

.mediaBoxes2{
  float: left;
  margin-top: 51em;
  width: 14%;
  margin-left: -20.5em;
}
.textComment{
  float: left;
  color: white;
  margin-left: -8em;
}

.outerBox2{
  background-color: #5E686F;
  width: 1.2em;
  height: 1.1em;
  float: left;
}
.icons2{
  margin-left: -9.2em;
  color:white;
}
.sideBox2{
  background-color: #A3B3BF;
  float:left;
  height: 1.1em;
  width: 8.1em;

}

.readLater{
  float: left;
  color: white;
  margin-left: -7.5em;
}

.mediaBoxes3{
  float: left;
  margin-top: 51em;
  width: 14%;
  margin-left:-10.5em
}

.outerBox3{
  background-color: #083452;
  width: 1.2em;
  height: 1.1em;
  float: left;
}
.icons3{
  margin-left: -9.0em;
  color:white;
}
.sideBox3{
  background-color: #106DB3;
  float:left;
  height: 1.1em;
  width: 8.1em;

}

.shareThis{
  float: left;
  color: white;
  margin-left: -7.5em;
}
